@font-face { font-family: 'Lalezar'; src: url('../fonts/Lalezar-Regular.ttf'); }
@font-face { font-family: 'Special Elite'; src: url('../fonts/SpecialElite-Regular.ttf'); }
@font-face { font-family: 'Noto Kufi Arabic'; src: url('../fonts/NotoKufiArabic[wght].ttf'); font-weight: 100 900; }
@font-face { font-family: 'Permanent Marker'; src: url('../fonts/PermanentMarker-Regular.ttf'); }
@font-face { font-family: 'Aref Ruqaa Ink'; src: url('../fonts/ArefRuqaaInk-Bold.ttf'); }
@font-face { font-family: 'Changa'; src: url('../fonts/Changa[wght].ttf'); font-weight: 200 800; }
